body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.1);
}

aside {
  width: 370px;
  height: 1319px;
  flex-shrink: 0;
  background: #1e2939;
}

.cv-photo {
  margin-top: 25px;
}

.header-secondary {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-links {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: 24px; /* 171.429% */
}

.bold {
  font-weight: 700;
}

.list-secondary {
  color: #fb6d3a;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.list-secondary-item {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}

.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}

.soft-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}

.list-secondary-item2 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

main {
  padding: 102px 88px 102px 88px;
}

.kekw-description {
  width: 400px;
}

.job-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
}

.projects {
  width: 485px;
}

.list-primary {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
}

.list-primary-item {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: none;
}

.header-primary {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.job-name {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.highlight {
  color: #fb6d3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.job-date {
  color: #a8a8a8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.break {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.job-list {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.education-name {
  color: #fb6d3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 12px;
}

.study-name {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 12px;
}

.study-date {
  color: #a8a8a8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 107px;
}
